%ul#listticker
  %li
    %span.news-text
      President Obama has announced three bedrock requirements for real health care reform
  %li
    %span.news-text
      Killer whales, Bengal tigers, crocs, more
  %li
    %span.news-text
      Marilyn Manson is not exactly a conformist. From his music ・a meat-grinder...
  %li
    %span.news-text
      Watch full episodes online. The final season begins early 2010
