#listticker
  %ul
    %li
      = image_tag "img/1.png"
      %a.news-title{ :href => "" }
        Health care reform
      %span.news-text
        President Obama has announced three bedrock requirements for real health care reform
    %li
      = image_tag "img/2.png"
      %a.news-title{ :href => "" }
        National Geographic Animals
      %span.news-text
        Killer whales, Bengal tigers, crocs, more
    %li
      = image_tag "img/3.png"
      %a.news-title{ :href => "" }
        Spotlight stars
      %span.news-text
        Marilyn Manson is not exactly a conformist. From his music ・a meat-grinder...
    %li
      = image_tag "img/4.png"
      %a.news-title{ :href => "" }
        Lost: the new serie is coming
      %span.news-text
        Watch full episodes online. The final season begins early 2010
